/**
 * Public Styles for WP RSS Importer
 *
 * Adds source attribution to RSS-imported posts
 */

/* Add "By [Author] from [Feed Name]:" prefix to RSS imported post titles */
.rss-title[data-author]::before {
    content: "By " attr(data-author) " from " attr(data-source) ": ";
    font-weight: normal;
    color: inherit;
}

/* If no author, just show "From [Feed Name]:" */
.rss-title:not([data-author])::before {
    content: "From " attr(data-source) ": ";
    font-weight: normal;
    color: inherit;
}

/* Optional: Style the source prefix differently if desired */
.rss-imported-post .rss-title::before {
    opacity: 0.8;
}

/* Add external link icon after RSS imported post titles */
.rss-title::after {
    content: " \2197";
    font-size: 0.8em;
    opacity: 0.6;
    margin-left: 0.2em;
    vertical-align: super;
}

/* Source attribution box */
.rss-source-attribution {
    margin: 1em 0;
    padding: 0.75em 1em;
    background: #f5f5f5;
    border-left: 3px solid #0073aa;
    font-size: 0.9em;
    color: #666;
}

.rss-source-attribution strong {
    color: #333;
}

.rss-source-attribution a {
    color: #0073aa;
    text-decoration: none;
}

.rss-source-attribution a:hover {
    text-decoration: underline;
}
